.u-card {
      background: $white;
      box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .2)
}

.u-img-rounded {
      border-radius: 50%;
      object-fit: cover;
}

.u-mb5 {
      margin-bottom: 5px;
}

.u-mb10 {
      margin-bottom: 10px;
}

.u-mb15 {
      margin-bottom: 15px;
}

.u-mb20 {
      margin-bottom: 20px;
}

.u-mb25 {
      margin-bottom: 25px;
}

.u-mt5 {
      margin-top: 5px;
}

.u-mt10 {
      margin-top: 10px;
}

.u-mt15 {
      margin-top: 15px;
}

.u-mt20 {
      margin-top: 20px;
}

.u-mt25 {
      margin-top: 25px;
}

.u-mt30 {
      margin-top: 30px;
}

.u-mt35 {
      margin-top: 35px;
}

.u-mt40 {
      margin-top: 40px;
}

.u-hide {
      visibility: hidden;
}

.u-show {
      visibility: visible;
}