/* ======================================== */
/* =                                      = */
/* =              Layout Base             = */
/* =                                      = */
/* ======================================== */

/*
.
.     Base Styles for layout elements
.	html | body | nav | div | section | header | main | article | aside | footer 
.      
*/

// - - - - - - - - - -
//-  * Section
// - - - - - - - - - -
body {
  font-family: "FuturaPTMedium";
  line-height: 1;
  color: $greyish_brown;
  font-weight: 300;
  letter-spacing: 0.5px;
  font-size: 12px;
  background-color: #f9fafc;
}

section {
  position: relative;
  width: auto;
  margin: 0 auto;
  .e-section__title {
    @include menu_active_text;
    margin: 6px 0 20px;
    line-height: 36px;
    &--alerts {
      margin-bottom: 0px;
    }
  }
}

.l-wrapper {
  display: flex;
  flex-flow: row;
}

.l-main {
  // width: 83vw;
}

.l-content {
  // ..for block content
  padding: 18px 1rem 1.5rem;
  max-width: 69em; //864px
  flex-wrap: wrap;
  //width: 82vw;
  height: min-content;

  &__row {
    display: flex;

    &--even {
      justify-content: space-evenly;
    }

    &.e-last_tab_btn {
      justify-content: flex-end;
      padding-top: 34px;
      padding-right: 17px;
    }

    &--border {
      border-bottom: 1px solid #d8d8d8;
    }
  }

  &__column {
    display: flex;
    flex-flow: column;
    width: 100%;
  }
}

.l-flexContainer {
  display: flex;

  &__row {
    flex-flow: row;
  }

  &__column {
    flex-flow: column;
  }

  &--wrap {
    flex-wrap: wrap;
  }
}

.l-wrapper {
  display: flex;
  flex-flow: row;
}

.l-main {
  // width: 83vw;
  @include for-size(phone-only) {
    width: auto;
  }
}

.l-content {
  padding: 18px 1rem 1.5rem;
  max-width: 72em; //864px
  min-width: 67.5em; //810px
  flex-wrap: wrap;
  //width: 82vw;
  height: min-content;

  &__row {
    display: flex;

    &--even {
      justify-content: space-evenly;
    }

    &.e-last_tab_btn {
      justify-content: flex-end;
      padding-top: 34px;
      padding-right: 17px;
    }

    &--border {
      border-bottom: 1px solid #d8d8d8;
    }
  }

  &__column {
    display: flex;
    flex-flow: column;
    width: 100%;
  }

  &__flexContainer {
    width: 100%;
    display: flex;

    &--row {
      flex-flow: row;
    }

    &--wrap {
      flex-wrap: wrap;
      justify-content: space-between;
    }

    &--center {
      width: 100%;
      flex-flow: row;
      display: inline-flex;

      //margin-bottom: 25px;
      @include for-size(desktop-max) {
        justify-content: space-around;
      }

      @include for-size(desktop-up) {
        justify-content: space-around;
      }
    }

    &--column {
      flex-flow: column;

      /* width: fit-content; */
      &--menu {
        flex-flow: column;
        display: flex;
        height: 100vh;
        position: sticky;
        top: 0;
        z-index: 2;

        @include for-size(phone-only) {
          height: auto;
        }
      }

      &InlineFlex {
        display: inline-flex;
        justify-content: center;
        flex-flow: column;
      }
    }

    &--left {
      width: 100%;
      flex-flow: row;
      display: inline-flex;
      justify-content: flex-start;
      //margin-bottom: 25px;
    }

    &--left--SingleCard {
      width: 100%;
      flex-flow: column;
      display: inline-flex;
      justify-content: flex-start;
      //margin-bottom: 25px;
      margin-left: 79px;
    }

    &--left--SectionCard {
      /* width: 100%; */
      flex-flow: column;
      display: inline-flex;
      justify-content: flex-start;
      //margin-bottom: 25px;
    }

    &--right {
      width: 100%;
      flex-flow: row;
      display: inline-flex;
      justify-content: flex-end;
      font-family: FuturaPTMedium;
      font-size: 1.17em;
      //margin-bottom: 25px;
    }

    &--noMargin {
      margin: 0;
    }
  }

  &--noleagues {
    padding-top: 52px;
  }

  @include for-size(desktop-max) {
    width: 78vw;
  }

  @include for-size(phone-only) {
    width: 62vw;
    min-width: 62vw;
    padding: 0.75em;
    margin: 0;
  }

  &--signin {
    @include for-size(phone-only) {
      width: 100vw;
    }
  }
}
